<carousel
  

  [images]="images">
</carousel>


<!-- [propertyName]="value"
  [cellWidth]="100%"
  [cellsToShow]="3"
  [cellsToScroll]="1"
  [loop]="true"
  [pauseOnHover]="true"
  [autoplay]="true"
  [dots]="true"
  [margin]="10"
  [transitionDuration]="300"
  [transitionTimingFunction]="ease-in"
  [borderRadius]="10"
  [arrows]="true"
  [arrowsTheme]="dark" -->




















<!-- <div class="sim-slider">
  <ul class="sim-slider-list">
    <li><img src="../../../../../../../assets/pictures/screen.gif" alt="screen"></li>
    <li><img src="../../../../../../../assets/pictures/pic1.jpg" class="sim-slider-img"></li>
    <li><img src="../../../../../../../assets/pictures/pic2.jpg" class="sim-slider-img"></li>
    <li><img src="../../../../../../../assets/pictures/pic3.jpg" class="sim-slider-img"></li>
  </ul> -->
<!-- 
  <div class="sim-slider-arrow-left"></div> 
  <div class="sim-slider-arrow-right"> </div> -->
  
  <!-- 
    <mat-icon matButton class="sim-slider-arrow-left">arrow_back</mat-icon> 
    <mat-icon class="sim-slider-arrow-right">arrow_forward</mat-icon>
  -->
  <!-- <button 
    mat-button 
    [routerLink]="'/todo/categories'"
    class="todo-button">
    <div fxLayout="row" fxLayoutAlign="center center">
        <mat-icon class="">done</mat-icon>
        <span class="profile-text">Todo</span>
    </div>
  </button> -->

  <!-- <button mat-icon-button class="sim-slider-arrow-left"
    (click)="clickLeftArrow()">
    <mat-icon class="secondary-text">arrow_back</mat-icon>
  </button>

  <button mat-icon-button class="sim-slider-arrow-right"
    (click)="clickRightArrow()">
    <mat-icon class="secondary-text">arrow_forward</mat-icon>
  </button>

  <div class="sim-slider-dots"></div>
</div> -->

