// Import Fuse core library
@import "@fuse/scss/core";

// Import app.theme.scss
@import "app/app.theme";

@import "@fuse/scss/phoneForm.scss";

.event-form-dialog {

  @include media-breakpoint('xs') {
    width: 100%;
  }

  @include media-breakpoint('gt-xs') {
    width: 480px;
  }

  .mat-dialog-container {
    padding: 0 !important;
  }

  .dialog-content-wrapper {
    max-height: 85vh;
    display: flex;
    flex-direction: column;
  }

  .primary-color-input,
  .secondary-color-input {
    padding: 6px 8px;
  }

  .phoneNumber {
    border: 1px solid rgba(206, 206, 206, 0.637);
    padding: 10px;
    border-radius: 5px;
    display: flex !important;
  }
}