@import "src/@fuse/scss/fuse";

#profile {

    .header {
        // height: 200px;
        // min-height: 200px;
        background: #039be5;
        background-size: cover;
        padding: 32px;

        .profile-image {
            margin-right: 24px;

            @include media-breakpoint('sm') {
                margin: 0 0 16px 0;
            }
        }

        .name {
            font-size: 34px;
            color: #FFFFFF;

            @include media-breakpoint('sm') {
                margin-bottom: 32px;
            }
        }

        .actions {

            button {
                text-transform: none;
                padding: 0 16px;
                margin: 0 0 0 8px;
            }
        }
    }

    .content {
        flex: 1;

        mat-tab-group {
            height: 100%;

            .mat-tab-body-wrapper {
                flex-grow: 1;
            }
        }
    }

    @include media-breakpoint('lt-xl') {

        profile-list {
            border-right: 0;
        }

        profile-list{
            flex: 1 0 100%;
        }

        profile-details {
            display: none !important;
        }

        &.current-todo-selected {

            .toolbar {
                padding-left: 16px !important;

                .todo-selection {
                    display: none !important;
                }
            }

            .content {

                profile-list {
                    display: none !important;
                }
            }
        }
    }
}

.mat-icon {
    margin-right: 10px;
}


// .nav .nav-item .nav-link {
//     overflow: ;
// }